# Apache Airflow dependencies
apache-airflow==2.7.2
pydantic==1.10.13
# Add any other Apache Airflow dependencies if needed

# dbt dependencies
dbt==0.22.0
dbt-semantic-interfaces==0.4.2
# Add any other dbt dependencies if needed
